{% load static %}
{% comment %} {% extends 'recipe.html'%}

{% block content %} {% endcomment %}
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <body>
    {% csrf_token %}
        <div id="app">
        <header>
            {% comment %} <h1 id="title">food4thegoddess</h1> {% endcomment %}
        </header>
            <div id="searchSection">
                <h1 id="title">food4thegoddess</h1>
                <img id="logo" src="/static/images/FFTG_logo.png">
                <search id="searchBtn"></search>
                <button id="navbtn">About</button>
                <button id="navbtn">Recipes</button>
                <technique id="techniqueBtn"></technique>
            </div>
            <image id="mainImg" src="/static/images/sample.jpg">
            <div id="randomSuggestion">
            </div>
        </script>
        <div id="app"> 
        <carousel></carousel>
        </div>

        <carousel></carousel>
            
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue"></script>
    </body>
{% comment %} {% endblock content %} {% endcomment %}
<script>
    Vue.component('search',{
    data: function(){
        return {
            category:'',
            info:[]
            }
        },
        template: `
        <form>
            <select id="categorySel" v-model="category">
                <option value="" seclected disabled>Please Choose One...</option>
                <option value="appetizers">Appetizers</option>
                <option value="breakfast">Breakfast</option>
                <option value="asian">Asian Dishes</option>
                <option value="everydayDelights">Everyday Delights</option>
                <option value="justForTwo">Just the Two of You</option>
                <option value="meatDishes">Meat Dishes</option>
                <option value="seafood">Seafood</option>
                <option value="salads">Salads and Dressings</option>
                <option value="soups">Soups</option>
                <option value="vegSides">Veggies and Side Dishes</option>
                <option value="sweets">Sweets</option>
            </select><br>
            {% comment %} <button class="find" @click.prevent="findActivity">Find</button> {% endcomment %}
        </form>
        `,
        methods: {
            findActivity: function(){
                axios({
                    method: "get",
                    url: "/api/v1/recipes/",
                })
                .then(response => {(this.info = response.data);
            })
        }
    }
});
    Vue.component('technique',{
    data: function(){
        return {
            technique:'',
            info:[]
            }
        },
        template: `
        <form>
            <input id="inputBox" type="text" placeholder="Search....">
            <button class="find" @click.prevent="findFood">Find</button>
        </form>
        `,
        methods: {
            findFood: function(){
                axios({
                    method: "get",
                    url: "/api/v1/recipes/",
                })
                .then(response => {(this.info = response.data);
            })
        }
    }
});
Vue.component("carousel", {
  template: "#v-carousel",
  data() {
    return {
      currentOffset: 0,
      windowSize: 3,
      paginationFactor: 220,
      items: [
        {name: 'Kin Khao', tag: ["Thai"]},
        {name: 'Jū-Ni', tag: ["Sushi", "Japanese", "$$$$"]},
        {name: 'Delfina', tag: ["Pizza", "Casual"]},
        {name: 'San Tung', tag: ["Chinese", "$$"]},
        {name: 'Anchor Oyster Bar', tag: ["Seafood", "Cioppino"]},
        {name: 'Locanda', tag: ["Italian"]},
        {name: 'Garden Creamery', tag: ["Ice cream"]},
      ]
    }
  },
  computed: {
    atEndOfList() {
      return this.currentOffset <= (this.paginationFactor * -1) * (this.items.length - this.windowSize);
    },
    atHeadOfList() {
      return this.currentOffset === 0;
    },
  },
  template: `
         <div class="card-carousel-wrapper">
    <div class="card-carousel--nav__left" @click="moveCarousel(-1)" :disabled="atHeadOfList"></div>
    <div class="card-carousel">
      <div class="card-carousel--overflow-container">
        <div class="card-carousel-cards" :style="{ transform: 'translateX' + '(' + currentOffset + 'px' + ')'}">
          <div class="card-carousel--card" v-for="item in items"><img src="https://placehold.it/200x200"/>
            <div class="card-carousel--card--footer">
              <p>{{ item.name }}</p>
              <p class="tag" v-for="(tag,index) in item.tag" :class="index &gt; 0 ? 'secondary' : ''">{{ tag }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-carousel--nav__right" @click="moveCarousel(1)" :disabled="atEndOfList"></div>
  </div>
        `,
  methods: {
    moveCarousel(direction) {
      // Find a more elegant way to express the :style. consider using props to make it truly generic
      if (direction === 1 && !this.atEndOfList) {
        this.currentOffset -= this.paginationFactor;
      } else if (direction === -1 && !this.atHeadOfList) {
        this.currentOffset += this.paginationFactor;
      }
    },
  }
});

new Vue({
  el:"#app"
});

let vm = new Vue ({
    el:'#app',
    data: function() {
        return {
            csrf_token:"",
            recipes: [],
            }
    },
    mounted: function() {
            console.log("It loaded again!");
        }
});


</script>